body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:502px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:14px;
  top:20px;
  width:699px;
  height:502px;
}
#u29 {
  position:absolute;
  left:2px;
  top:243px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:56px;
  top:94px;
  width:79px;
  height:102px;
}
#u31 {
  position:absolute;
  left:2px;
  top:43px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:159px;
  top:109px;
  width:125px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:41px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:25px;
  top:27px;
  width:677px;
  height:41px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:56px;
  top:35px;
  width:172px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u37 {
  position:absolute;
  left:274px;
  top:34px;
  width:77px;
  height:28px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u38 {
  position:absolute;
  left:375px;
  top:34px;
  width:72px;
  height:28px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_input:disabled {
  color:grayText;
}
#u39 {
  position:absolute;
  left:465px;
  top:34px;
  width:77px;
  height:28px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u40 {
  position:absolute;
  left:592px;
  top:34px;
  width:90px;
  height:32px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u40_input:disabled {
  color:grayText;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:120px;
}
#u41 {
  position:absolute;
  left:56px;
  top:94px;
  width:87px;
  height:120px;
}
#u42 {
  position:absolute;
  left:2px;
  top:52px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:159px;
  top:145px;
  width:125px;
  height:32px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:159px;
  top:187px;
  width:125px;
  height:27px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:366px;
  top:109px;
  width:195px;
  height:26px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:366px;
  top:145px;
  width:195px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u51 {
  position:absolute;
  left:159px;
  top:245px;
  width:97px;
  height:33px;
  font-size:18px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:112px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:159px;
  top:324px;
  width:457px;
  height:112px;
}
#u54 {
  position:absolute;
  left:2px;
  top:48px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:159px;
  top:288px;
  width:35px;
  height:26px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
  background-color:#FEFAA9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
