body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:616px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  position:absolute;
  left:14px;
  top:22px;
  width:718px;
  height:616px;
}
#u57 {
  position:absolute;
  left:2px;
  top:300px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:45px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:25px;
  top:28px;
  width:695px;
  height:45px;
}
#u59 {
  position:absolute;
  left:2px;
  top:14px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:57px;
  top:37px;
  width:177px;
  height:28px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:28px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u61 {
  position:absolute;
  left:608px;
  top:35px;
  width:92px;
  height:35px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u61_input:disabled {
  color:grayText;
}
#u62 {
  position:absolute;
  left:469px;
  top:35px;
  width:108px;
  height:38px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background-color:#D2F2FB;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:180px;
  top:127px;
  width:152px;
  height:27px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u64 {
  position:absolute;
  left:122px;
  top:127px;
  width:41px;
  height:23px;
  font-size:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66 {
  position:absolute;
  left:122px;
  top:186px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:123px;
}
#u68 {
  position:absolute;
  left:180px;
  top:186px;
  width:109px;
  height:123px;
}
#u69 {
  position:absolute;
  left:2px;
  top:54px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:339px;
  top:186px;
  width:31px;
  height:21px;
}
#u71 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:119px;
  top:542px;
  width:56px;
  height:19px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:150px;
  top:362px;
  width:41px;
  height:23px;
  font-size:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u76 {
  position:absolute;
  left:119px;
  top:361px;
  width:41px;
  height:23px;
  font-size:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:176px;
  top:359px;
  width:74px;
  height:27px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:176px;
  top:412px;
  width:152px;
  height:27px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u80 {
  position:absolute;
  left:119px;
  top:412px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u82 {
  position:absolute;
  left:119px;
  top:452px;
  width:33px;
  height:24px;
  font-size:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:176px;
  top:450px;
  width:152px;
  height:27px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85 {
  position:absolute;
  left:517px;
  top:592px;
  width:87px;
  height:30px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u86 {
  position:absolute;
  left:614px;
  top:592px;
  width:87px;
  height:30px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
